@import './../../Styles//var.scss';

.account-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    form{
        display: flex;
        flex-direction: column;
        width: 95%;
        background: #ffffff05;
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 1.25em );
        border-radius: 10px;            
        font-family: Ravi Prakash;
        margin-top: 4em;
        margin-bottom: 30vh;
        align-items: center;
        justify-content: center;
        min-width: 25em;
        max-width: 30em;
        padding: 1em;
        transition: 0.5s ease-in-out;
        .input{
            position: relative;
            width: 90%;
            input{
                width: 100%;
                padding: 10px;
                border: none;
                border-bottom: 0.25px solid $tertiary-text;
                background-color: transparent;
                outline: none;
                color: $primary-text;
                font-size: 1em;
                margin: .7em 0;
            }
            input:valid ~ span, 
            input:focus ~ span{
                top: -1em;
                font-size: 1em;
                padding-inline: 0.6em;
                color: $accent-color-secondary;
            }
            span{
                transition: 0.5s ease-in-out;
                position: absolute;
                left: 0.2em;
                top: .4em;
                padding: 10px;
                pointer-events: none;
                font-size: 1em;
                color: $tertiary-text;
            }
        }

        .controls{
            width: 100%;
            display: flex;
            padding-inline: 2.5em;
            justify-content: space-between;
            margin-top: 2em;

            a{
                text-decoration: none;
                color: $secondary-text;
                font-size: 1.13em;
            }
            a:hover{
                color: $tertiary-text;
            }
            .active{
                color: $accent-color;
                border: 0.5px solid $accent-color;
                border-radius: 5px;
                padding-inline: 15px;
                transition: 0.5s ease-in-out;
            }
            .active:hover{
                color: $accent-color-secondary;
                border: 0.25px solid $accent-color-secondary;
            }
            //for edit button in form edit in modal functions
            .actives{
                color: $accent-color !important;
                border: 0.5px solid $accent-color;
            }
            .actives:hover{
                color: $accent-color-secondary !important;
                border: 0.25px solid $accent-color-secondary ;
            }
        }
    }
}

///adddings
select{
    outline: none;
}

@media screen and (max-width: $medium) {
    .account-form{
        width: 95%;
    }
}