.dashboard{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 97vh;
    width: 90vw;
    overflow: hidden;
    margin:0 auto;
    gap: 0.5em;

    .sidebar{
        flex: .1;
    }
    .display{
        // flex: .9 !important;
    }
}