@import '../../Styles//var.scss';

.display{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-inline:0.25em ;
    color: $secondary-text; 
    transition: 1s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    
    .display-card{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom:1em;
        gap: 1em;
        
        .card{
            display: flex;
            flex-direction: column;
            background: #ffffff05;
            border-radius: 10px;
            font-family: Ravi Prakash;
            align-items: center;
            justify-content: center;
            padding: .5em;
            flex: .5;
            
            input{
                width: 90%;
                padding: 5px;
                border: none;
                background-color: transparent;
                outline: none;
                color: $secondary-text;
                font-size: .55em;
                margin: .7em 0;
                letter-spacing: 1.2px;
            }
            h3{
                font-size: 1em;
            }
        }
    }      
    .details{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.5em;
        .reports{
            height: 300px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            flex: 0.5;
            justify-content: center;
            background: #ffffff05;
            padding: .5em !important;
            align-items: center;

            h3{
                text-align: center;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-bottom: .5em !important;
            }
        }
        .reports:first-child{
            color: #7159fd80;
        }
        .reports:last-child{
            color:#46fc6e80;
        }
    }
    ul{
        margin-top: 0.5em;
        border-radius: 10px;
        background: #ffffff05;
        padding: 0.5em 2em;
        li{
            list-style-position: inside;
        }
        h3{
            font-size: 1.5em;
        }
        .warning{
            color: $warning;
        }
        .success{
            color: $accent-color;
        }
        li{
            font-size: 1.1em;
        }
    }
}


@media screen and (max-width: 700px) {
    .display{
        .display-card{
            flex-direction: column;
            .card{
                flex: 1;
                width: 100%;
            }
        }
        .details{
            .reports{
                flex: 1;
            }
        }
    }
}