*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

$primary-background:#11121B;
$primary-text :white;
$secondary-text:rgba(255, 255, 255, 0.75);
$tertiary-text:rgba(255, 255, 255, 0.5);
$secondary-background:#12131c80;
$small: 400px;
$medium: 900px;
$accent-color:#0d6e0d;
$accent-color-secondary:#0d6e0d80;
$warning:#ff5100;
$warning-secondary:#ff51006b;